<%- $Saved = @references %>
<br/>
<p>
<div class="container">
  <h2>Results:</h2>
  <p><strong><%= @references.count.to_int %> </strong> matching results found</p>            
  <table class="table">
    <thead>
      <tr>
      <th>Erase</th>
        <th>Check</th>
        <th>Name</th>
        <th>Email</th>
        <th>Reference Name</th>
        <th>Reference Email</th>
        <th>Reference Specialization</th>
        
      </tr>
    </thead>
   
    <tbody>
     <%- @references.each do |ref| %> 
      <tr>
      <td> <%= link_to 'Erase', reference_path(ref),
            data: {:confirm => 'Are you sure?'},:remote => :true, :method => :delete %></td>
      <td><%= check_box_tag "ref_ids[]",ref.id , false%> </td>
      <td><%= best_in_place ref, :Name, tabindex: "1" %></td>
      
      <td><%= ref.emails[0] if ref.emails.size>0 %></td>
      <td><%= ref.ReferenceName %></td>
      <td><%= ref.ReferenceEmail %></td>
      <td><%= ref.ReferenceSpecialization %></td>
      </tr>
     <%- end%> 
    </tbody>
  </table>
</div>
</p>